@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    background-color: #4d444e;
}

h1, h2 {
    color: #ffffff;
}

header {
    background-color: rgba(151, 151, 151, 0.801);
    padding: 15px;
    text-align: center;
}

aside {
    overflow: hidden;
    float: left;
    width: 15%;
    height: 100%;
    text-align: center;
}

aside a {
    background-color: #E5E5E5;
    padding: 8px;
    margin-top: 7px;
    width: 100%;
    color: #151515;
    display: block;
}
main {
    float: left;
    width: 75%;
    padding: 0 20px;
    text-align: center;
}

footer {
    width: 100%;
    background-color: rgba(151, 151, 151, 0.801);
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

#elo {
    width: 40px;
    height: 40px;
}

.img_personagens {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #c7c408
}

